<h3>Список пользователей в хранилище</h3>
<div class="table-responsive middle">
	<table class="table table-striped table-sm">
		<thead>
			<tr>
				<th scope="cole">id</th>
				<th scope="cole">Имя</th>
				<th scope="cole">Фамилия</th>
				<th scope="cole">День рождения</th>
				{% if isAdmin %}
							<th scope="cole">Обновление</th>
							<th scope="cole">Удаление</th>
						{% endif %}
			</tr>
		</thead>
		<tbody>
			{% for user in users %}
				<tr>
					<td>
						{{ user.getUserId() }}
					</td>
					<td>
						<a href='/user/show/?id={{ user.getUserId() }}'>{{ user.getUserName() }}</a>
					</td>
					<td>{{ user.getUserLastName() }}</td>
					<td>
						{% if user.getUserBirthday() is empty %}
							<b>не установлен</b>
						{% else %}
							{{ user.getUserBirthday() | date('d.m.Y') }}
						{% endif %}
					</td>
						{% if isAdmin %}
							<td>
								<a href='/user/edit/?id={{ user.getUserId() }}'>обновить</a>
							</td>
							<td id = '{{user.getUserId()}}' >
								<a href='/user/show/?id={{ user.getUserId() }}'>удалить</a>
							</td>
						{% endif %}
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<script>
	let maxId = $('.table-responsive tbody tr:last-child td:first-child').html();
	   // console.log(maxId);
		setInterval(function () {
	$.ajax({
		method: 'POST', 
		url: "/user/indexRefresh/",
		data: { maxId : maxId }
	}).done(function (data) {
		let users = $.parseJSON(data);
		if (users.length != 0) {
			for (var k in users) {
				let row = "<tr>";
				row += "<td>" + users[k].id + "</td>";
				maxId = users[k].id;
				row += "<td>" + users[k].username + "</td>";
				row += "<td>" + users[k].userlastname + "</td>";
				row += "<td>" + users[k].userbirthday + "</td>";
				row += "<td><a href='/user/edit/?id=" + users[k].id + "'>обновить</a></td>";
				row += "<td><a href='/user/show/?id=" + users[k].id + "'>удалить</a></td>";
				row += "</tr>";
				$('.content-template tbody').append(row);
			}
		}
		});
	}, 10000);
	</script>
</div>
