<h3>
	<a href='/user/show/?id={{ user.getUserId() }}'>
        id = {{ user.getUserId}} |
		{{ user.getUserName() }} 
		{{ user.getUserLastName() }}. День
					рождения:
		{{ user.getUserBirthday() | date('d.m.Y') }}
	</a>
	<a href='/user/delete/?id={{ user.getUserId() }}'>Хотите удалить?</a>
</h3>
