<p>Список пользователей в хранилище</p>
<ul id="navigation">
	{% for user in users %}
		<li><a href ='/user/show/?id={{ user.getUserId() }}'>
			{{ user.getUserName() }}
			{{ user.getUserLastName() }}. День
			рождения:
			{% if user.getUserBirthday() is empty %}
				<b>не установлен</b>
			{% else %}
				{{ user.getUserBirthday() | date('d.m.Y') }}
			{% endif %}
			
        </a></li>
		<a href ='/user/prepare/?id={{ user.getUserId() }}'>обновить</a>
		<a href ='/user/show/?id={{ user.getUserId() }}'>удалить</a>
	{% endfor %}
</ul>
